.row {
    padding-bottom: 10px;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item-action {
    cursor: pointer;
}

table.table {
    margin-bottom: 0;
}
